@font-face {
	font-family: henny-penny;
	src: url(fonts/HennyPenny-Regular.ttf);
}

@font-face {
	font-family: lato;
	src: url(fonts/Lato-Regular.ttf);
}

body {
	background-color: lightblue;
}

#content {
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
	padding-top: 100px;
	color: navy;
	font-size: 36px;
	font-family: henny-penny;
	margin: 0;
}

#nav {
	color: white;
	background-color: #800020;
	text-align: center;
	font-size: 48px;
	font-family: henny-penny;
	position: fixed;
	width: 100%;
	margin: -10px;
	padding: 0;
}

p {
	font-size: 36px;
	font-family: lato;
	
}