body {
	background-color: lightblue;
	margin-left: 50px;
	margin-right: 50px;
}

h1 {
	color: navy;
	font-size: 72px;
	font-family: garamond;
}

p {
	font-size: 36px;
	font-family: "Comic Sans MS";
	
}